@page "/"

<h1>World of Uzers</h1>


<NavLink href="portal">Go to the portal</NavLink>



<RadzenCard>
    <RadzenLogin Login=@(args => { })
    ResetPassword=@(args => { })
    Register=@(args => { }) 
    Style="margin-bottom: 20px;" />
</RadzenCard>
